.task {
    width: 660px;
    margin-bottom: 5px;
    word-wrap: break-word;
    font-size: 15px;
    line-height: 1.3;
}

#Content2 label {
    width: 120px;
    display: inline-block;
}

#Content2 input {
    margin: 2px;
    margin-left: 4px;
    width: 150px;
}